<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<app-navbar></app-navbar>
<div class="container">
  <div class="image">
    <img
      src="../../../assets/78696-delivery-motorbike.gif"
      alt=""
      height="400px"
      width="350px"
    />

    <button>APPELEZ-NOUS <i class="fas fa-phone"></i></button>
  </div>

  <div class="getstarted">
    <h2>FAITES LIVRER VOTRE COLIS PAR DES EXPERTS</h2>
    <h3>NOUS LIVRONS DES COLIS À TRAVERS L'AFRIQUE À FAIBLE COÛT</h3>

    <button>Get Starded <i class="fas fa-arrow-right"></i></button>
  </div>
</div>
<app-footer></app-footer>
