<app-navbar></app-navbar>
<div class="container">
  <div class="image">
    <img
      src="../../../assets/78696-delivery-motorbike.gif"
      alt=""
      height="400px"
      width="350px"
    />

    <button>CALL US <i class="fas fa-phone"></i></button>
  </div>

  <div class="getstarted">
    <h2>GET YOUR PARCEL DELIVERED BY EXPERTS</h2>
    <h3>WE DELIVER PARCELS ACCROSS THE COUNTRY WITH LOW COST AS FCFA</h3>

    <button>Get Starded <i class="fas fa-arrow-right"></i></button>
  </div>
</div>
<app-footer></app-footer>
