<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="Simple Forgot Password Page Using HTML and CSS"
  />
  <title>Mot de passe oublié</title>
</head>
<body>
  <div class="row">
    <h1>Mot de passe oublié</h1>
    <h6 class="information-text">
      Entrez votre email enregistré pour réinitialiser votre mot de passe.
    </h6>
    <div class="form-group">
      <input
        type="email"
        name="email"
        placeholder="Entrer votre email"
        [(ngModel)]="email"
      />
      <p><label for="username">Email</label></p>
      <button type="submit" class="btn btn-info" (click)="forgotPassword()">
        Envoyer un lien
      </button>
    </div>
    <div class="footer">
      <h5>Nouveau ici? <a routerLink="/inscription">Inscription.</a></h5>
      <h5>
        Vous avez déjà un compte ? <a routerLink="/connexion">Connexion.</a>
      </h5>
      <p class="information-text">
        <span class="symbols" title="Lots of love from me to YOU!"
          >&hearts; </span
        ><a>Interface Sa</a>
      </p>
    </div>
  </div>
</body>
