<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
  />
</head>

<body>
  <div class="table-responsive">
    <div class="parcel">
      <div class="header">
        <h1 class="header-order" (click)="goToAddOrder()">
          Vos commandes
          <i
            class="fa fa-plus"
            style="margin: 30px; font-size: 25px; cursor: pointer"
          ></i>
        </h1>
        <h1 class="header-order" routerLink="/client">
          Retour vers commande
          <i
            class="fa fa-arrow-circle-left"
            style="margin: 30px; font-size: 25px; cursor: pointer"
          ></i>
        </h1>

        <div class="conversion">
          <div class="conversion-header">
            <span>Montant en (Euros)</span>
            <span>To</span>

            <span>Montant en (XAF)</span>
          </div>

          <div class="conversion-body">
            <input type="number" [(ngModel)]="montantEuro" name="montantEuro" />

            <input type="number" [(ngModel)]="cost" name="francs" />
          </div>

          <button class="conversion-btn" (click)="convert()">Convert</button>
        </div>
      </div>
      <div class="main-content">
        <div class="section-content section-content-p30">
          <div class="container-fluid">
            <div>
              <table
                class="table table-bordered table-hover"
                style="background-color: #f0d95d"
              >
                <tr>
                  <th width="2%">Numéro de commande</th>
                  <th width="2%">Email expéditeur</th>
                  <th width="1%">Pays origine</th>
                  <th width="1%">Pays d'arrivée</th>
                  <th width="1%">Poids ou volume du colis</th>
                  <th width="1%">Date envoi</th>
                  <th width="1%">Mode de transport</th>
                  <th width="1%">Cout du transport</th>
                  <th width="1%">Editer</th>
                </tr>
                <tbody *ngIf="orders">
                  <tr *ngFor="let order of orders">
                    <td>{{ order.numeroDecommande }}</td>
                    <td>{{ order.senderEmail }}</td>
                    <td>{{ order.originCountry }}</td>
                    <td>{{ order.destinationCountry }}</td>
                    <td>{{ getWeightOrVolume(order) }}</td>
                    <td>{{ order.dateExpedition }}</td>
                    <td>{{ order.modeTransport }}</td>
                    <td>{{ order.prix }}</td>
                    <td>
                      <button
                        class="btn btn-primary"
                        (click)="editOrder(order.id)"
                      >
                        Editer
                      </button>
                      <button
                        class="btn btn-danger"
                        (click)="deleteCommande(order.id)"
                      >
                        Supprimer
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- if order history is empty then display a message -->
            <div
              *ngIf="orders.length == 0"
              class="alert alert-warning col-md-12"
              role="alert"
            >
              No orders found.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
