<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Convert | Export html Table to CSV & EXCEL File</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>

  <body>
    <main class="table" id="customers_table">
      <section class="table__header">
        <h1>Commande client</h1>
      </section>
      <section class="table__body">
        <table>
          <thead>
            <tr>
              <th>Numéro de commande(#)</th>
              <th>
                Client
                <i class="fas fa-user"></i>
              </th>
              <th>
                Pays origine
                <i class="fas fa-globe"></i>
              </th>
              <th>
                Date d'envoie
                <i class="fas fa-calendar"></i>
              </th>
              <th>
                Mode de transport
                <i class="fas fa-shipping-fast"></i>
              </th>
              <th>
                Montant
                <i class="fas fa-dollar-sign"></i>
              </th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let commande of commandes">
              <td>{{ commande.numeroDecommande }}</td>
              <td>
                {{ commande.senderEmail }}
              </td>
              <td>{{ commande.originCountry }}</td>
              <td>{{ commande.dateExpedition }}</td>
              <td>
                <p
                  [ngClass]="{
                    'blue-bg': commande.modeTransport === 'Bateau',
                    'brown-bg': commande.modeTransport === 'Terrestre'
                  }"
                >
                  {{ commande.modeTransport }}
                </p>
              </td>
              <td>
                <strong> {{ commande.prix }} </strong>
              </td>
              <td>
                <button
                  type="button"
                  class="transparent-button"
                  (click)="deleteCommande(commande.id)"
                >
                  <i class="fas fa-trash"></i> Supprimer
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
