<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>

  <body>
    <main class="table" id="customers_table">
      <section class="table__header">
        <h1>Commande client</h1>
        <button class="fas fa-print" (click)="printTable()">Imprimer</button>
      </section>
      <section class="table__body">
        <table>
          <thead>
            <tr>
              <th>Numéro de commande(#)</th>
              <th>
                Client
                <i class="fas fa-user"></i>
              </th>
              <th>
                Contact
                <i class="fas fa-phone"></i>
              </th>
              <th>
                Pays origine
                <i class="fas fa-globe"></i>
              </th>
              <th>
                Nombre de colis
                <i class="fa-solid fa-box"></i>
              </th>
              <th>
                Date d'envoie
                <i class="fas fa-calendar"></i>
              </th>
              <th>
                Mode de transport
                <i class="fas fa-shipping-fast"></i>
              </th>
              <th>
                Statut
                <i class="fas fa-clock"></i>
              </th>
              <th>
                Montant
                <i class="fas fa-dollar-sign"></i>
              </th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let commande of commandes">
              <td>{{ commande.numeroDecommande }}</td>
              <td>
                {{ commande.senderEmail }}
              </td>
              <td>
                <a
                  target="_blank"
                  href="https://wa.me/{{
                    commande.phone
                  }}?text=Bonjour%20monsieur%20confirmer%20votre%20commande%20pour%20procéder%20à%20son%20expédition"
                >
                  {{ commande.phone }}
                </a>
              </td>

              <td>{{ commande.originCountry }}</td>
              <td>{{ commande.nbreColis }}</td>
              <td>{{ commande.dateExpedition }}</td>
              <td>
                <p
                  [ngClass]="{
                    'blue-bg': commande.modeTransport === 'Bateau',
                    'brown-bg': commande.modeTransport === 'Terrestre'
                  }"
                >
                  {{ commande.modeTransport }}
                </p>
              </td>
              <td>
                <select
                  [(ngModel)]="commande.statut"
                  (change)="updateStatut(commande)"
                >
                  <option value="enAttente">
                    <i class="fas fa-clock"></i> En Attente
                  </option>
                  <option value="valide">
                    <i class="fas fa-check-circle"></i> Valider
                  </option>
                </select>
              </td>
              <td>
                <strong> {{ commande.prix }} </strong>
              </td>
              <td>
                <button
                  type="button"
                  class="transparent-button"
                  (click)="deleteCommande(commande.id)"
                >
                  <i class="fas fa-trash"></i> Supprimer
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
