.gradient-custom-3 {
  /* fallback for old browsers */
  background: #3b71ca;
  background: -webkit-linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(59, 113, 202, 1)
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(59, 113, 202, 1)
  );
}
.gradient-custom-4 {
  background: #3b71ca;
  background: -webkit-linear-gradient(to right, #ffffff, #3b71ca);
  background: linear-gradient(to right, #ffffff, #3b71ca);
}
