<link
  rel="stylesheet"
  href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/bs-brain@2.0.3/components/logins/login-9/assets/css/login-9.css"
/>

<section
  class="vh-100 bg-image"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
  "
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Inscription</h2>

              <form>
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    name="displayName"
                    [(ngModel)]="displayName"
                    required
                  />
                  <label class="form-label" for="form3Example1cg">Nom</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="email"
                    class="form-control form-control-lg"
                    name="email"
                    [(ngModel)]="email"
                    min="6"
                  />
                  <label class="form-label" for="form3Example3cg">Email</label>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    class="form-control form-control-lg"
                    name="password"
                    [(ngModel)]="password"
                    min="6"
                  />
                  <label class="form-label" for="form3Example4cg"
                    >Mot de passe</label
                  >
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="button"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                    (click)="signup()"
                  >
                    Inscription
                  </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">
                  Avez vous déja un compte?
                  <a
                    (click)="goToLogin()"
                    class="fw-bold text-body"
                    style="cursor: pointer"
                    ><u>Connexion</u></a
                  >
                </p>
                <p class="text-center text-muted mt-5 mb-0">
                  <a href="" class="fw-bold text-body" style="cursor: pointer"
                    ><u>Allez a l'accueil</u></a
                  >
                </p>
              </form>
              <p *ngIf="error">{{ error }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
