body {
  font-family: sans-serif;
}

#menu_active {
  position: absolute;
}

#wrapper {
  padding-left: 200px;
  transition: all 1s;
}

#menu_active:checked + #wrapper {
  padding-left: 44px;
  transition: all 1s;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background: linear-gradient(to bottom, #3b71ca, #1e4674);
  transition: all 0.5s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#menu_active:checked + #wrapper #menu {
  left: -160px;
  transition: all 1s;
}

#menu_active:checked + #wrapper .fa-bars,
#wrapper i.fa-arrow-left {
  display: block;
}

#menu_active:checked + #wrapper .fa-arrow-left,
#wrapper i.fa-bars {
  display: none;
}

#menu i {
  width: 20%;
  text-align: center;
}

#site-name {
  color: white;
  display: block;
  padding: 20px 10px;
  font-size: 24px;
  line-height: 30px;
}

#site-name i {
  float: right;
}

#site-name label {
  color: white;
  font-size: 30px;
}

#menu ul {
  padding: 0;
}

#menu ul li {
  color: white;
  list-style: none;
  padding: 15px 5px;
  border-left: 4px solid transparent;
  transition: all 0.3s ease;
}

#menu ul li:hover {
  color: #f0d95d;
  border-left: 4px solid #f0d95d;
  background-color: rgba(255, 255, 255, 0.1);
}

#menu ul li i {
  float: right;
  font-size: 24px;
}

#menu ul a {
  text-decoration: none;
  color: white;
  display: block;
  height: 100%;
}

// Gestion arriére plan dynamique
#user-profile {
  h1 {
    position: relative;
    z-index: 1; /* Assure que le texte est devant l'image d'arrière-plan */
  }

  &[menu-active] {
    background-image: url(../../../assets/client.jpg);
  }

  /* Image d'arrière-plan par défaut lorsque le menu n'est pas actif */
  background-image: url(../../../assets/client.jpg);
  background-size: cover; /* Ajuste la taille de l'image */
  background-position: center; /* Centre l'image d'arrière-plan */
  height: 200px; /* Ajustez la hauteur selon vos besoins */
  display: flex;
  align-items: center;
  justify-content: center;
}
